version: "3.8"

services:
    postgres:
        image: postgres:latest
        container_name: boiler_royale
        environment:
            POSTGRES_USER: samuelyoon
            POSTGRES_PASSWORD: temppassword
            POSTGRES_DB: boiler_royale_db
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: unless-stopped

volumes:
    postgres_data:
